<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="XsltPlugin" type="XsltPlugin.Config.XsltConfigSection, XsltPlugin" />
  </configSections>

  <XsltPlugin>
    <XsltExtensions>
      <!--"assemblyPath" should be the full path to assembly-->
      <!--"type" should be the full namespace name of type-->
      <!-- if "type" is not specified then all types in assembly will be loaded into xslt-->
      <!-- if the alias is empty, when you reference the type in xslt you should reference it like this xmlns:hello = "urn:XsltExtensions.HelloXslt" -->
      <!-- if you have set the alias ie. "test", when you reference the type in xslt you should reference it like this xmlns:hello = "urn:test" -->
      <!--<extension assemblyPath="C:\Program Files\Windows Live\Writer\Plugins\XsltExtensions.dll" type="XsltExtensions.HelloXslt" alias="" />-->
    </XsltExtensions>
  </XsltPlugin>

</configuration>