<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
   
    <!--
      name = This needs to match the name of the section that the settings are stored
      type = is a 2 part value.  Part 1 is the full path (w/ namespace to the class that will hold
          this data.  Part 2 is the name of the assembly this class is found in.
    -->
   
    <section name="XsltPlugin" type="XsltPlugin.Config.XsltConfigSection, XsltPlugin"/>
  </configSections>

  <XsltPlugin configSource="Plugins\XsltPlugin.dll.config">    
  </XsltPlugin>
</configuration>